@import "../dist/webkit-sassui-video-play.scss";
.f10{
  font-size: 10px;
}
.f14{
  font-size: 14px;
}
.test-webkit-sassui-video-play{
  border:1px solid red;
  position: relative;
  img{
    vertical-align: top;
    width: 100%;
  }
}
